exportPattern("^[[:alpha:]]+")
import(psych)
import(TTR)
import(MASS)
import(tcltk)
import(TSA)
import(MAd)
importFrom(grDevices, dev.cur, dev.new)
importFrom(MAd,mareg)
importFrom(metafor,forest)
importFrom(stats,confint)
importFrom(stats,wilcox.test)
importFrom(stats,confint)
importFrom(graphics,plot)
importFrom(stats,pnorm)
importFrom(grDevices,recordPlot)
importFrom(grDevices,replayPlot)
importFrom(stats,aov)
importFrom(stats,TukeyHSD)
importFrom(grDevices,graphics.off)
importFrom(stats,ts)
importFrom(graphics,locator)
importFrom(stats,na.pass)
importFrom(stats,qnorm)
importFrom(stats,Box.test)
importFrom(stats,pacf)
importFrom(stats,binom.test)
importFrom(graphics,boxplot)
importFrom(stats,median)
importFrom(stats,sd)
importFrom(stats,IQR)
importFrom(stats,quantile)
importFrom(stats,na.omit)
importFrom(graphics,layout)
importFrom(graphics,dotchart)
importFrom(graphics,title)
importFrom(graphics,segments)
importFrom(graphics,lines)
importFrom(graphics,par)
importFrom(graphics,plot.new)
importFrom(graphics,legend)
importFrom(graphics,arrows)
importFrom(utils,write.csv)
importFrom(stats,lm)
importFrom(stats,residuals)
importFrom(graphics,abline)
importFrom(stats,ts.plot)
importFrom(stats,plot.ts)
importFrom(stats,t.test)
importFrom(stats,var.test)
importFrom(graphics,barplot)
importFrom(utils,read.table)
importFrom(stats,pt)
importFrom(stats,chisq.test)
importFrom(stats,fisher.test)